<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello everyone</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div id="app" class="center">
        <h1>{{ `Ciao ${nome} ${cognome} il tuo colore preferito è ${colore}`}}</h1>
        
        <img :src="img" :alt="alt">
        
        <div>
            <label for="name">Nome</label>
            <input v-model="nome" type="text" id="name">
            <label for="surname">Cognome</label>
            <input v-model="cognome" type="text" name="surname" id="surname">
            <label for="color">Colore</label>
            <input v-model="colore" type="text" name="color" id="color">
        </div>
        <p>Dimmi chi sei e ti saluterò</p>
     </div>



     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="js/main.js"></script>


</body>
</html>